!!! 5
%html
  %head
    %title Hihi
    %link(type="text/css" href="css/style.css" rel="stylesheet" media="all")

  %body
    #menu
      %p Yo, I'm Jo.
      %p This is my blog yo!

    .container
      = yield
